.box1{
    background-color: black;
    width: 100%;
    height: 800px;
    
}
body{
    margin: 0px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo{
    width: 45.5%;
    height: 100px;
    float: left;
    padding-left: 135px;
    padding-top: 22px;
}
.login{
    width: 45.5%;
    height: 100px;
    float: left;
}
.log{
    font-size: 14px;
    width: 90px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 30px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    white-space: nowrap;
    cursor: pointer;
    border: none;
}
.log:hover{
    background-color: rgba(94, 86, 86, 0.499);
}
.logi{
    margin-left: -5px;
    font-size: 14px;
    width: 50px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 30px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    white-space: nowrap;
    cursor: pointer;
    border: none;
}
.logi:hover{
    background-color: rgba(94, 86, 86, 0.499);
}
#signbu{
    background-color: aliceblue;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 100px;
    margin-left: 5px;

}
#signbu:hover{
    background-color: rgb(128, 118, 118);
    
}

.c{
    margin-left: 300px;
    margin-top: 15px;
}

.b1-1{
    width: 50%;
    height: 678px;
    float: left;
    color: white;

}
.d{
    margin-left: 187px;
    margin-top: 150px;
    
}
.form{
    height: 45px;
    width: 410px;
    border-radius: 15px;
    border-color: white;
    margin-bottom: 10px;
    
}
.btn{
    height: 45px;
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
    border-color: white;
    margin-bottom: 10px;
}

.box2{
    width: 100%;
    height: 2850px;
    margin-top: 10px;
}

.b2-1{
    width: 50%;
    height: 720px;
    float: left;
}

.e{
    padding-left: 175px;
    padding-top: 50px;
}

.b2-2{
    width: 50%;
    height: 720px;
    float: left;
}
.f{
    padding-left: 175px;
    padding-top: 50px;
}

#line{
    margin-top: -6px;
    margin-left: 187px;
    width: 135px;
    cursor: pointer;
}

#line:hover{
    background-color: black;
}

.b3-1{
    width: 50%;
    height: 720px;
    float: left;
}
.b3-2{
    width: 50%;
    height: 720px;
    float: left;

}
.g{
    padding-left: 90px;
    padding-top: 100px;

}

.h{
    padding-left: 180px;
    padding-top: 120px;
}

.b4-1{
    width: 50%;
    height: 720px;
    float: left;

}
.i{
    padding-left: 175px;
    padding-top: 100px;
}

.b4-2{
    width: 50%;
    height: 720px;
    float: left;
}
.j{
    padding-left: 175px;
    padding-top: 200px;
}

.b5{
    width: 100%;
    height: 100px;
    float: left;
}
.b5-1{
    padding-top: 70px;
    padding-left: 175px;
    font-size: 35px;
    font-weight: bold;
}

.b6-1{
    width: 50%;
    height: 300px;
    float: left;
    
}

.b6-1-1{
    padding-top: 100px;
    padding-left: 175px;

}

.b6-2{
    width: 50%;
    height: 300px;
    float: left;
}

.b6-1-2{
    padding-top: 120px;
    padding-left: 175px;

}

.b7{
    width: 100%;
    height: 100px;
    float: left;
}

.b8{
    width: 100%;
    height: 350px;
    background-color: rgb(236, 234, 234);
    float: left;
}

.b8-1{
    width: 100%;
    height: 100px;
}
.b8-1-1{
    padding-top: 10px;
    padding-left: 175px;
    font-size: 35px;
    font-weight: bold;
}

.b8-2{
    width: 34%;
    height: 220px;
    padding-left: 178px;
    padding-top: 30px;
    float: left;
}

.b8-2-2{
    width: 500px;
    height: 160px;
    background-color: white;
}

.b8-2-2-1{
    cursor: pointer;
    padding: 20px;
}

.qr1{
    margin-top: 40px;
    margin-left: 140px;
    font-size: 25px;
    font-weight: bold;
}

.qr2{
    margin-top: -27px;
    margin-left: 140px;
}

.b8-3{
    width: 43%;
    height: 220px;
    float: left;
    margin-top: 30px;
}

.box3{
    width: 100%;
    height: 1000px;
    background-color: black;
    float: left;
}
.footer{
    color: white;
    padding-left: 175px;
    padding-top: 90px;
}
.fhd{
    padding-right: 175px;
    padding-bottom: 20px;
}

.icon{
    width: 99%;
    height: 30px;
    float: left;
    padding-left: 5px;
    padding-top: 35px;
    
}
.lan{
    margin-top: -5px;
}

.playstore{
    width: 99%;
    height: 100px;
    float: left;
}

.store{
    height: 150px;
    width: 150px;
    cursor: pointer;
}
.last{
    padding-right: 60px;
    float: left;
    font-size: 12px;
    color: #AFAFAF;
    cursor: pointer;

}

.last:hover{
    color:#6B6B6B;;
}